<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meu_estilo.css' %}">
    <title>Index</title>
</head>
<body>
    <!-- Criar a barra de navegação -->
    <div class="content">
        <div class="container">
            <br>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- Criar o rodape -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>