body{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
}
.nav-li{
    float: left;
    margin-right: 20px;
}
.nav-li a{
    text-decoration: none;
}
.nav-li a:visited{
    color:white;
    text-decoration: none;
}
.rodape{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 10;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
.roda-txt{
    margin-top: 10px;
    margin-bottom: 10px;
}
.roda-txt a{
    text-decoration: none;
}
.roda-txt a:visited{
    color: white;
    text-decoration: none;
}
.content{
    margin-top: 50px;
}
.formulario{
    line-height: 1.6em;
    margin: 10px;
}
.entrada{
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
}
.grupo-input{
    margin: 15px;
}
.selecting{
    width: 90%;
    border: 2px solid black;
    padding: 5px 2px;
    border-radius: 10px;
}
.btn_salvar{
    background-color: #555;
    color: white;
    padding: 10px;
    margin: 10px;
}
.btn_salvar:hover{
    background-color: #aaffaa;
    color:black;
}